.headerLogo {
  height: 36px;
}

.headerFont {
  font-size: 24px;
  font-weight: 500;
}

.searchBar {
  max-height: 36.5px;
}

.searchBar .MuiButtonBase-root {
  padding: 6px !important;
}

.searchBar input {
  padding: 0;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}